# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/

# VS Code
.vscode/

# Database
database/

# Streamlit cache
.streamlit/

# Data (optional)
data/processed/

# OS
.DS_Store
Thumbs.db

# API keys and credentials
.env

